In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./tmp/items.csv')

In [4]:
df.head()

,index,title,description,image,subtitle,caption
0,125,Toy Story (1995),A cowboy doll is profoundly threatened and jea...,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,"Animation, Adventure, Comedy",English
1,1969,Jumanji (1995),When two kids find and play a magical board ga...,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,"Adventure, Comedy, Family","English, French"
2,88,Grumpier Old Men (1995),John and Max resolve to save their beloved bai...,https://m.media-amazon.com/images/M/MV5BMjQxM2...,"Comedy, Romance","English, Italian, German"
3,4536,Waiting to Exhale (1995),"Based on Terry McMillan's novel, this film fol...",https://m.media-amazon.com/images/M/MV5BYzcyMD...,"Comedy, Drama, Romance",English
4,1957,Father of the Bride Part II (1995),George Banks must deal not only with the pregn...,https://m.media-amazon.com/images/M/MV5BOTEyNz...,"Comedy, Family, Romance",English

In [5]:
df['subtitle'].dropna().str.split(', ', expand=True).stack().unique()

array(['Animation', 'Adventure', 'Comedy', 'Family', 'Romance', 'Drama',
       'Crime', 'Thriller', 'Action', 'Fantasy', 'Horror', 'Biography',
       'History', 'Mystery', 'Sci-Fi', 'War', 'Sport', 'Music', 'Musical',
       'Western', 'Film-Noir', 'Documentary'], dtype=object)

In [6]:
df["subtitle"] = df["subtitle"].fillna('')

In [7]:
foo = np.array([3,443,54313,3123,43,543,2])
foo < 1000

array([ True,  True, False, False,  True,  True,  True])

In [11]:
df['subtitle'].str.contains('Comedy')

0         True
1         True
2         True
3         True
4         True
         ...
20103     True
20104    False
20105    False
20106    False
20107    False
Name: subtitle, Length: 20108, dtype: bool